html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    
}

button {
    cursor: pointer;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* =================nav=============================== */

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .site-nav__items:not(:last-child) {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.site-nav__link {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    display: block;
    /* padding-top: 32px;
    padding-bottom: 32px; */
    color: #000000;
}
.site-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-nav__icones {
    margin-left: 10px;
}
.site-nav__img{
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}
.site-nav__position{
    margin: 20px 30px 30px;
    z-index: 2;
    position: absolute;
}


/* ===============head================ */
.head {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    align-items: center;

    justify-content: center;
}
.head__img {
    width: 440px;
    height: 536px;
    /* position: absolute;
z-index: 1; */
}
.head__left {
margin-right: 50px;
}

.head__right {
 margin-left: 50px;
    
}